@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  text-align: center;
}

h1 {
  color: #25a2c3;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 2.2rem;
}
h2 {
  color: #25a2c3;
  font-weight: bold;
  font-family: "Montserrat";
  line-height: 1.5rem;

  font-size: 1.2rem;
}

p {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans";
  line-height: 1.5rem;
  padding: 1.5rem;
}

#intermission,
h4,
h5 {
  background-color: #f04c2f;
  font-family: "Montserrat";
  font-weight: bold;
  border-style: none;
  font-size: 1.2rem;
  color: white;
  padding: 1rem;
}
#intermission,
h4 {
  font-weight: bold;
  border-style: none;
}
h5 {
}
section {
  padding: 2rem;
}
section img {
  width: 100%;
}

span {
  font-weight: 300;
  font-size: 0.9rem;
}
h6 {
  font-family: "Montserrat";
}

#Logo {
  background-color: black;
  box-sizing: content-box;
  width: 100%;
}

#Logo img {
  width: 30vw;
  padding: 2rem;
}

#start {
  background-image: url(../images/banner.jpg);
  background-size: 150%;
  background-position: center;
  padding: 2rem;
}

#start input {
  margin: 1rem;

  border-radius: 5px;
}

#break {
  background-color: #f04c2f;
  padding-block: 2rem;
}

#testo {
  padding-block-start: 1rem;
}

#break h1,
#break h6,
#break p {
  color: white;
}



#break h6 {
  font-size: 1rem;
}

#immaginedescrizione img {
  border-radius: 50%;
  width: 70%;
  padding: 1rem;
}

.italic {
  font-style: italic;
  font-weight: 300;
}

.card {
  border-style: none solid solid solid;
  border-color: rgb(197, 197, 197);
  border-width: 1px;
  border-radius: 5px;
  margin-block: 2rem;
}
footer {background-color: #25a2c3;}
footer h1,ul {
  color: white;
  list-style: none;

}

footer h1 {
  padding: 2rem;
}

footer ul {
  padding-block-end: 4rem;

}



footer a {
  color: white;
}
footer ul li {
  padding: 0.2rem;
  opacity: 0.8;
 
}

.copy {
  padding: 1rem;
}
hr {
  width: 60%;
  padding: 0;
 border-color: white;
}
